.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 39%, 66%); }
*{
    margin: 10px auto;
    padding: 0;
    box-sizing: border-box;
}
body{
   height: 100vh;
   background-color: hsl(222, 26%, 31%);
   
}
main{
    border: none;
    width: 500px;
    min-width: 300px;
    height: 600px;
    background-color: hsl(222, 26%, 31%);
}
section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px auto;
}
h2{
    margin-left: 20px;
    color: whitesmoke;
    position: relative;
}
.theme{
     display: flex;
     align-items: center;
     margin-right: 20px;
     gap: 8px;
}
h5{
    text-transform: uppercase;
    color: whitesmoke;
}
p{
    display: inline;
    padding: 5px;
    color: whitesmoke;
    text-transform: uppercase;
}
.box{
    border: 2px solid black;
    width: 60px;
    height: 22px;
    border-radius: 20px;
    background-color: hsl(223, 31%, 20%);
    text-align: center;
    font-size: 50px;
    color: red;
}
.dot{
    width: 20px;
    height: 20px;
    background-color: brown;
    border: 2px solid black;
    border-radius: 100px;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
}
.display{
    display: flex;
    justify-content: flex-end;

}
.display input{
    width: 100%;
    max-width: 460px;
    height:  80px;
    text-align: right;
    flex: 1;
    border: none;
    background-color: hsl(221, 31%, 48%);
    color: whitesmoke;
    font-size: 1.7em;
}
h1{
    text-align: end;
    padding: 10px;
    color: whitesmoke;
}
.calc{
    border: none;
    width: 460px;
    height: 550px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background-color:  hsl(223, 31%, 20%);
}
.hero{
    text-align: center;
}    

.hero input{
    width: 65px;
    height: 60px;
    margin: 10px;
    border: none;
    outline: 0;
    cursor: pointer;
    background-color: hsl(223, 28%, 34%);
    color: whitesmoke;
    font-size: 1.7em;
    
    
}
input.equal{
    width: 145px;
    height: 60px;
    background-color: hsl(221, 31%, 48%);
    color: red;
}
 input.equal:hover{
    background-color: rgb(39, 129, 189);
 }
 
input.operator{
    color: red;
 }
 input.operator:hover{
    background-color: rgb(39, 129, 189);
 }
 h2::after{
    content: "";
    position: absolute;
    top: 12px;
    left: 45px;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background-color: hsl(223, 31%, 20%);;
 }
 h2::before{
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -5px;
    left: 60px;
    width: 20px;
    height: 20px;
    background-color: rgba(148, 28, 28, 0.712);
    border-radius: 50%;
 }